body {
  background-color: pink;
}

.account-section{
  display:flex;
  justify-content: space-around;
  margin-top: 15px;
} 

.letter-block{
  background-color: aqua;
  height: 50px;
  width: 50px;

}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 300px;
}

.guess-input {
  width: 400px;
}

.guess-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-box {
  background-color: aqua;
  padding: 30px 50px 30px 50px;
}


.player-score {
  background-color: aquamarine;
  padding: 10px 50px 10px 50px;
}

.player-section{
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
}

.wheel-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
  height: 200px;
  width: 200px;
  margin-left: 40px;
}

/* text{
  font-family:Helvetica, Arial, sans-serif;
  font-size:11px;
  pointer-events:none;
}
#chart{
  position:absolute;
  width:500px;
  height:500px;
  top:0;
  left:0;
}
#question{
  position: absolute;
  width:400px;
  height:500px;
  top:0;
  left:520px;
}
#question h1{
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top:50%;
  -webkit-transform:translate(0,-50%);
          transform:translate(0,-50%); */
/* } */