body {
  background-image: linear-gradient(#94c0dc, #223344);
}

.arrow-container {
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
}

.button-section {
  display: flex;
  justify-content: center;
}

.category-name {
  color: #223344;
  padding: 10px;
}

.const-guess-btn{
  background-color: #94c0dc;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
  height: 50px;
}

.down-arrow {
  height: 25px;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94c0dc;
  height: 300px;

}

.category-section p {
  display: flex;
  justify-content: center;
  background-color: #94c0dc;
  font-size: 1.8em;
  margin-top: 0;
}

.choose-letter{
  align-items: center;
  background-color: #223344;
  color: #94c0dc;
  display: flex;
  justify-content: center;
  margin: 10px;

}

.guess-input {
  width: 400px;
  background-color: #94c0dc;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
}


.guess-section {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.key-table {
  display: flex;
  justify-content: space-around;

}

.letter-block{
  background-color: #2980b9;
  height: 50px;
  width: 50px;
}

.main-title {
  color :#223344;
  font-size: 40px;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;

}

.player-container {
  justify-content: center;
  align-items: center;
  background-color: #94c0dc;
  padding: 25px;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
  width: 150px;
}


.player-section{
  display:flex;
  justify-content: space-around;
  margin-top: 40px;
}

.player-score {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pop-ups {
  display: flex;
  justify-content: center;
}

.round-counter {
  background-color: #94c0dc;
  padding: 10px;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
}

.choose-consonant {
  display: grid;
  visibility: hidden;
  grid-template-columns: 33% 33% 33%;
  height: 50%;
  width: 50%;
  background-color: #2980b9;
  position: absolute;
  margin-top: 450px;
}

.choose-vowel{
  display: grid;
  visibility: hidden;
  grid-template-columns: 33% 33% 33%;
  height: 50%;
  width: 50%;
  background-color: #2980b9;
  position: absolute;
  margin-top: 450px;
  font-size: 25px;
}

.quit-btn{
  background-color: #94c0dc;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
  height: 50px;

}

.vowel-buy-btn{
  background-color: #94c0dc;
  border-style: solid;
  border-radius: 5%;
  border-color: #223344;
  height: 50px;
}


.wheel {
  text-align: center;
  animation: spin .8s linear;
  display: block;
  fill: #223344;
  height: 200px;
  margin: 0 5px 5px 0;
  width: 200px;
  transition: 5s;
}

.wheel-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94c0dc;
  width: 200px;
  height: 27px;
  border-style: solid;
  border-radius: 5%;
}


.wheel-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-left: 40px;
  width: 200px;
}

.current-turn {
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  font-size: 30px;
  color: green;
  font-weight: 600;
}

.letter-block {
  text-align: center;
  font-weight: 900;
}

.wheel-red{
  color: red;
}

.wheel-orange{
  color: orange;
}

.wheel-yellow{
  color: yellow;
}

.wheel-green{
  color: green;
}

.wheel-blue{
  color: blue
}

.wheel-purple{
  color: purple;
}





